<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>

<form action="/login" method="post">
   <p><input type="text" name="username" placeholder="enter usernaem"></p>
    <p><input type="password" name="password" placeholder="enter password "></p>
    <p><button type="submit"> submit form</button></p>
</form>
<br>
<form action="/login" method="get" >
    <input type="text" name="find" placeholder="inter username ID">
    <p><button type="submit"> submit form</button></p>


</form>

{{ userId }}
</head>
<body>

</body>
</html>